@use 'partials/partial' as *;
@use 'partials/mixins' as *;
@use 'partials/typography' as *;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: $band-site-black;
    width: 100%;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-family: 'Avenir Next';
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
}

h2 {
    font-family: 'Avenir Next';
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

h3 {
    font-family: 'Avenir Next';
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    
}

p {
    font-family: 'Avenir Next';
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

li {
    list-style: none;
}

.site-name {
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-size: 36px;
    padding: 24px 0px;
}

.nav-bar {
    &__list {
        display: flex;
        justify-content: space-around;
    }
    &__item {
        font-family: 'Avenir Next';
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 16px;
        width: 100%;
        text-align: center;
        &--active {
            font-weight: 600;
            border-bottom: 5px solid #fff;
        }
    }
}

.hero {
    position: relative;
    background: $band-site-black;
    
    &__title {
        position: absolute;
        color: #fff;
        margin: 30% 16px;
        z-index: 2;
    }
    &__background {
        width: 100vw;
        opacity: .5;
        object-fit: cover;
    }
}

.biography {
    padding: 16px;
    &__title {
        padding-top: 24px;
    }
    &__image {
        width: 100%;
        padding: 16px 0;
    }
    &__tagline {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        padding-bottom: 8px;
    }
}

