@use 'partials/partial' as *;
@use 'partials/mixins' as *;
@use 'partials/typography' as *;
@use 'partials/gallery';
@use 'partials/headerfooter';
@use 'partials/shows';


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-family: 'Avenir Next';
    font-weight: 500;
    font-size: 2rem;
    line-height: 2rem;
    @include tablet {
        font-size: 3.75rem;
        line-height: 4.25rem;
    }
    
}

h2 {
    font-family: 'Avenir Next';
    font-weight: 500;
    font-size: 2rem;
    line-height: 2rem;
    @include tablet {
        font-size: 2.25rem;
        line-height: 3rem;
    }
}

h3 {
    font-family: 'Avenir Next';
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.375rem;
    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

p {
    font-family: 'Avenir Next';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    @include tablet {
        font-size: 1.3rem;
        line-height: 1.375rem;
    }
    
}

li {
    list-style: none;
}

// Hero 

.hero {
    display: flex;
    align-items: center;
    background-image: url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 35vh;
    @include tablet {
        height: 45vh;
        background-position: bottom;
    }
    @include desktop {
        height: 70vh;
        background-position: center;
    }   
    &__title {
        position: absolute;
        color: #fff;
        margin: 1.25rem;
        z-index: 2;
        @include tablet {
            margin: 0 2.5rem;
        }
        @include desktop {
            margin: 0 8rem;
        }   
    }
    &__background {
        width: 100%;
        height: 35vh;        
        background-color: $band-site-black;
        opacity: .5;
        @include tablet {
            height: 45vh;
        }
        @include desktop {
            height: 70vh;
        }   
    }
}

// Bio

.biography {
    padding: 1.25rem;
    @include tablet {
        padding: 2.5rem;
    }
    @include desktop {
        padding: 3rem 8rem;
    } 
    &__container {
        @include tablet {
            padding: 0 4rem;
        }
        @include desktop {
            padding: 0 6rem;
        } 
    }
    &__title {
        padding-top: 1.5rem;
        @include desktop {
            padding-top: 0;
        }
    }
    &__image {
        width: 100%;
        height: 16rem;
        object-fit: cover;
        object-position: bottom;
        padding: 2rem 0 1rem 0;
        @include tablet {
            height: 22rem;
            object-position: center;
        }
        @include desktop {
            height: 32rem;
        } 
    }
    &__tagline {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.75rem;
        padding-bottom: 0.5rem;
        @include tablet {
            font-size: 1.375rem;
            line-height: 2rem;
        }
        @include desktop {
            margin: 1rem 0 .5rem 0;
            width: 82%;
        } 
    }

    &__source {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.75rem;
        padding-bottom: 0.5rem;
        @include tablet {
            font-size: 1rem;
            padding-bottom: 2rem;
        }
    }
    &__name {
        padding: 1rem 0;
    }
    &__text {
        padding: 0.5rem 0;
        font-size: 1.1rem;
        @include tablet {
            font-size: .9rem;
            width: 49%;
        }
        } 
    &__text-container {
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }
    }


// Comments Section

.comments {
        display: flex;
        flex-direction: column;
    &-section {
        margin: 1.25rem 0;
        padding: 0 1rem;
            @include tablet {
                padding: 0 2.5rem;
            }
            @include desktop {
                padding: 0 6rem;
            } 
        }
    &-container, &-display {
        font-family: 'Avenir Next';
        border-bottom: 2px solid $band-site-mercury;
        @include tablet {
            width: 85%;
            justify-content: space-around;
            margin: 0 auto;
        }
        @include desktop {
            width: 46%;
        } 
    }
    &__image {
        background-color: $band-site-mercury;
        width: 2.75rem;
        height: 2.75rem;
        border-radius: 100%;
        object-fit: cover;
        object-position: left;
        float: left;
        margin: 1.25rem 1rem 0 0;

        &-placeholder {
            background-color: $band-site-mercury;
            width: 2.75rem;
            height: 2.75rem;
            border-radius: 100%;
            float: left;
            margin-right: 1rem;
            margin-top: 1.25rem;
        }
        @include tablet {
            width: 3.2rem;
            height: 3.2rem;
        }
    }

    &__label {
        font-size: .9rem;
        text-transform: uppercase;
        font-family: 'Avenir Next';
        font-weight: 500;
        color: $band-site-silver;
        margin-bottom: .25rem;
    }
    &__input-name {
        background-color: $band-site-albaster;
        border: 1px solid $band-site-mercury;
        border-radius: 4px;
        padding: .75rem;
        font-size: 1rem;
        font-family: 'Avenir Next';
        color: #000;
        margin-bottom: 1.5rem;
        @include tablet {
            padding: 1rem;
        }
        &:focus {
            outline: none;
            border: 1px solid $band-site-black;
        }
        &:invalid {
            outline: none;
            border: 1px solid #D22D2D;
        }
    }
    &__input-comment {
        background-color: $band-site-albaster;
        border: 1px solid $band-site-mercury;
        border-radius: 4px;
        padding: .75rem;
        height: 8rem;
        font-family: 'Avenir Next';
        font-size: 1rem;
        color: #000;
        overflow-wrap: break-word;
        @include tablet {
            padding: 1rem;
        }
        &:focus {
            outline: none;
            border: 1px solid $band-site-black;
        }
        &:invalid {
            outline: none;
            border: 1px solid #D22D2D;
        }
    }
    &__submit {
        background-color: $band-site-black;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-family: 'Avenir Next';
        font-weight: 500;
        color: white;
        display: flex;
        justify-content: center;
        margin: 1.5rem 0;
        padding: .75rem;
        border-radius: 5px;
        border: none;
        
        @include tablet {
            width: 30%;
            align-self: flex-end;
            padding: .5rem;
            font-size: 1rem;
        }
    }
    &__input {
        padding: .25rem 0 1rem 0;
        border-bottom: 2px solid $band-site-mercury;
    }
    &__flex {
        display: flex;
        margin: 1rem 0;
        justify-content: space-between;
        align-items: center;
        @include tablet{
            margin-top: 0.5rem;
        }
    }
    &__name {
        font-size: 1rem;
        @include tablet {
            font-size: .9rem;
        }
    }
    &__date {
        font-family: 'Avenir Next';
        font-weight: 400;
        font-size: 1rem;
        color: $band-site-silver;
        @include tablet {
            font-size: .9rem;
        }
    }
    &__text {
        margin: 0 0 0 3.75rem;
        @include tablet {
            font-weight: 400;
            font-size: .9rem;
        }

    }
}

