@use 'partial' as *;
@use 'mixins' as *;
@use 'typography' as *;

// Header
header {
    background-color: $band-site-black;
    width: 100%;
    color: #fff;
    @include tablet {
        display: inline-flex;
    }
    @include desktop {
        display: inline-flex;
    }   
}

.header__logo {
    display: block;
    text-align: center;
    padding: 1rem 0;
    @include tablet {
        padding: 1.7rem 2.5rem;
    }
    @include desktop {
        padding: 1.7rem 2.5rem 1.7rem 8rem;
    }
}

.site-name {
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    padding: 1.5rem 0;
    @include tablet {
        font-size: 1.75rem;
        padding: 1rem 2.5rem;
    }
    @include desktop {
        font-size: 1.75rem;
        padding: 1rem 1rem 1rem 8rem;
    }   
    &__footer {
        text-align: left;
        margin-top: 1rem;
    }
}

.nav-bar {
    &__list {
        display: flex;
        justify-content: space-around;
        @include tablet {
            height: 100%;
            align-items: center;
        }
    }
    &__item {
        font-family: 'Avenir Next';
        font-size: 1rem;
        font-weight: 400;
        padding-bottom: 1rem;
        width: 100%;
        text-align: center;
        @include tablet {
            margin: 0 1.5rem;
            padding: 1.75rem 0;
        }
        @include desktop {
            margin: 0 2rem;
            padding: 1.75rem 0;
        }     
        &--active {
            font-weight: 500;
            border-bottom: 5px solid #fff;
            @include tablet {
            border-bottom: 4px solid #fff;
            }
        }
    }
}

// Footer
footer {
    background-color: $band-site-black;
    width: 100%;
    color: #fff;
    padding: 2rem 1rem;
    position: relative;
    @include tablet {
        padding: 3.5rem 2.5rem;
    }
    @include desktop {
        padding: 3.5rem 8rem;
    }   
}

.contact {
    @include tablet {
        display: flex;
        align-items: center;
        width: 60%;
    }

    &__icon-container {
        display: flex;
        justify-content: space-between;
        width: 45%;
        padding: 1rem 0;
        @include tablet {
            width: 20%;
        }
    }
    &__icon {
        height: 1.75rem;
        @include tablet {
            margin-left: 2rem;
        }        
    }
    &__container {
    @include tablet {
        display: flex;
        justify-content: space-between;
    }
    @include desktop {
        width: 70%;
    }
    }
    
    &__info {
        padding: .25rem 0;

    }
    &__name {
        padding: 1rem 0;
        @include tablet {
            margin-bottom: .75rem;
        }
        & p {
            font-weight: 500;
            @include tablet {
                font-size: .9rem;
            }
        }
    }
    &__details {
        padding-bottom: 1rem;
        @include tablet {
            margin-bottom: .75rem;
        }
        & p {
            @include tablet {
                font-size: .9rem;
            }
        }
    }
    &__email {
        font-family: 'Avenir Next';
        font-size: .9rem;
        padding-bottom: 1rem;
    }
}

.copyright p {
    font-size: 0.875rem;
    @include tablet {
        padding-top: 2rem;
        font-size: .85rem;
    }
}

.footer-bandsite-link {
    @include tablet {
        position: absolute;
        top: 4.75rem;
        right: 2.5rem;
    }
    @include desktop {
        right: 8rem;
    }
}